@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .create-input {
    @apply input placeholder:text-gray-500 focus:outline-1 rounded-md  focus:outline-brand bg-white border-gray-400 input-bordered;
  }
  .create-select {
    @apply select select-bordered rounded-md placeholder:text-gray-500 focus:outline-1 focus:outline-brand bg-white border-gray-400 w-full;
  }
}

.hidden {
  display: none;
}

.appear {
  display: block;
  animation: appear 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

.InterestedSwiper .swiper-pagination {
  transform: translateY(60%);
}

@media (prefers-reduced-motion) {
  .skeleton {
    animation-duration: 1.6s;
  }
}
